header{
  display: flex;
  border-bottom: 1px solid black;
  justify-content: flex-start;

}

.mytimeheader {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  padding-left: 20px;
  padding-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;

}

.mylogo {
  padding-right: 10px;
  display: inline-flex;

}

.nav {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.nav span {
  font-size: 14px;
  font-family: verdana;
  justify-content: center;
  padding-right: 20px;
  font-weight: bold;
}

a {
  color: black;
}

/* all of the above is for the header */

/* Styling main story */
.container {
  display: flex;
  justify-content: space-between;
  margin: 40px 180px;
}

.large{
  width: 630px;
  justify-content: space-between;
}
.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0px;

}
.small {
  width: 240px;
}
.mainstory {
  background-image: url("./images/img-story-main.png");

  display: flex;
  height: 300px;
  flex-direction: column;
}
.content {

}
.medium1  {

}
.medium2 {

}
.story h2 {
font-family: Georgia;
font-size: 17px;
color: black;
}
.story p {
font-family: Georgia;
font-size: 17px;
color: black;
}
.story {

display: flex;
flex-direction: column;
width:auto;
height:auto;
flex-wrap: wrap;
padding-bottom: 0px;
}
span {

    display: flex;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: flex;

}
.cookie {

}
.storypic {
  background-image: url("./images/img-story-2.png");
  height: 300px;
  width: 285px;

}
.storypic2 {
  background-image: url("./images/img-story-3.png");
  width: 285px;
  height: 300px;


}

.bottom-content {
  display: flex;
  justify-content: space-between;

}
.column1 {
  display: flex;
  flex-direction: column;

}
.orca {
  padding-bottom: 14px;
}
/* Use margins to contain the <p> */

.medium2 {
  background-image: url("./images/img-story-1.png");
  height: 300px;

}
.cookie span {
  color: black;
}
.list span {
  color: grey;
  font-size: 12px;
  border-bottom: 1px solid dimgrey;
  padding: 11px 20px;
  font-family: verdana;
  text-align: left;
  background-color: whitesmoke;
}
